# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata/
BeanScopeXMLBasedSpringConfiguration-SetterInjection/target/
AnnotationBasedSpringConfiguration-AutowiredConstructorInjection/target/
XMLBasedSpringConfiguration-autowire/target/
BeanScopeAnnotationBasedSpringConfiguration-AutowiredSetterInjection/target/
CollectionsXMLBasedSpringConfiguration-SetterInjection/target/
XMLBasedSpringConfiguration-SetterInjection/target/
XMLBasedSpringConfiguration-ConstructorInjection/target/
JavaSpringConfiguration-AutowiredConstructorInjection/target/
BeanLifeCycleXMLBasedSpringConfiguration-SetterInjection/target/
AnnotationBasedSpringConfiguration-AutowiredSetterInjection/target/
AnnotationBasedSpringConfiguration-AutowiredConstructorInjection/.classpath
AnnotationBasedSpringConfiguration-AutowiredSetterInjection/.classpath
BeanLifeCycleXMLBasedSpringConfiguration-SetterInjection/.classpath
BeanScopeAnnotationBasedSpringConfiguration-AutowiredSetterInjection/.classpath
BeanScopeXMLBasedSpringConfiguration-SetterInjection/.classpath
ClassApplicationDemo/.classpath
CollectionsXMLBasedSpringConfiguration-SetterInjection/.classpath
JavaSpringConfiguration-AutowiredConstructorInjection/.classpath
XMLBasedSpringConfiguration-autowire/.classpath
XMLBasedSpringConfiguration-ConstructorInjection/.classpath
XMLBasedSpringConfiguration-SetterInjection/.classpath
AnnotationBasedSpringConfiguration-AutowiredConstructorInjection/.project
AnnotationBasedSpringConfiguration-AutowiredSetterInjection/.project
BeanLifeCycleXMLBasedSpringConfiguration-SetterInjection/.project
BeanScopeAnnotationBasedSpringConfiguration-AutowiredSetterInjection/.project
BeanScopeXMLBasedSpringConfiguration-SetterInjection/.project
ClassApplicationDemo/.project
CollectionsXMLBasedSpringConfiguration-SetterInjection/.project
JavaSpringConfiguration-AutowiredConstructorInjection/.project
XMLBasedSpringConfiguration-autowire/.project
XMLBasedSpringConfiguration-ConstructorInjection/.project
XMLBasedSpringConfiguration-SetterInjection/.project
